<footer id="site-footer" class="site-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
    <div data-elementor-type="wp-post" data-elementor-id="3893" class="elementor elementor-3893" data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-6eb066f5 ot-traditional elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6eb066f5" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-extended">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6183081b ot-flex-column-vertical" data-id="6183081b" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-3425334d elementor-widget elementor-widget-heading" data-id="3425334d" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">Join the One Tech Experience</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-41337e08 elementor-widget elementor-widget-ictf7" data-id="41337e08" data-element_type="widget" data-widget_type="ictf7.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-shortcode engitech-cf7-0">
                                                    <div role="form" class="wpcf7" id="wpcf7-f4545-o2" lang="en-US" dir="ltr">
                                                        <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                                        <form action="http://wpdemo.archiwp.com/engitech/home-9/#wpcf7-f4545-o2" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                                            <div style="display: none;">
                                                                <input type="hidden" name="_wpcf7" value="4545" />
                                                                <input type="hidden" name="_wpcf7_version" value="5.4" />
                                                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4545-o2" />
                                                                <input type="hidden" name="_wpcf7_container_post" value="0" />
                                                                <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                                            </div>
                                                            <div class="sub-footer-11 sub-footer-9 no-mess-validate">
                                                                <span class="wpcf7-form-control-wrap your-email">
                                                                 <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" /></span>
                                                                <button type="submit"><i class="fa fa-paper-plane"></i></button>
                                                            </div>
                                                            <div>
                                                                <label><input type="checkbox" name="name" value="" /> I agree with all terms and conditions</label>
                                                            </div>
                                                            <div class="wpcf7-response-output" aria-hidden="true"></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-27e8770e ot-flex-column-vertical" data-id="27e8770e" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-258d0964 elementor-section-full_width ot-traditional elementor-section-height-default elementor-section-height-default" data-id="258d0964" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-extended">
                                                <div class="elementor-row">
                                                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7736a348 ot-flex-column-vertical" data-id="7736a348" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-7c17f70a elementor-widget elementor-widget-heading" data-id="7c17f70a" data-element_type="widget" data-widget_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h4 class="elementor-heading-title elementor-size-default">Support</h4>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-569ff163 elementor-align-right elementor-tablet-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="569ff163" data-element_type="widget" data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul class="elementor-icon-list-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <a href="#">
                                                                                    <span class="elementor-icon-list-text">FAQ</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="elementor-icon-list-item">
                                                                                <a href="#">
                                                                                    <span class="elementor-icon-list-text">About Us</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="elementor-icon-list-item">
                                                                                <a href="#">
                                                                                    <span class="elementor-icon-list-text">Contact Us</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-6087c5b8 ot-flex-column-vertical" data-id="6087c5b8" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-534f5e9a elementor-widget elementor-widget-heading" data-id="534f5e9a" data-element_type="widget" data-widget_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h4 class="elementor-heading-title elementor-size-default">Legal</h4>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-6fc35052 elementor-align-right elementor-tablet-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="6fc35052" data-element_type="widget" data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul class="elementor-icon-list-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <a href="#">
                                                                                    <span class="elementor-icon-list-text">Privacy Policy</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="elementor-icon-list-item">
                                                                                <a href="#">
                                                                                    <span class="elementor-icon-list-text">Returns</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="elementor-icon-list-item">
                                                                                <a href="#">
                                                                                    <span class="elementor-icon-list-text">Terms of Use</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-60a86a88 ot-flex-column-vertical" data-id="60a86a88" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-81506a6 elementor-widget elementor-widget-heading" data-id="81506a6" data-element_type="widget" data-widget_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h4 class="elementor-heading-title elementor-size-default">Socials</h4>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-3667be0f elementor-align-right elementor-tablet-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="3667be0f" data-element_type="widget" data-widget_type="icon-list.default">
                                                                    <div class="elementor-widget-container">
                                                                        <ul class="elementor-icon-list-items">
                                                                            <li class="elementor-icon-list-item">
                                                                                <a href="#">
                                                                                    <span class="elementor-icon-list-text">Facebook</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="elementor-icon-list-item">
                                                                                <a href="#">
                                                                                    <span class="elementor-icon-list-text">Instagram</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="elementor-icon-list-item">
                                                                                <a href="#">
                                                                                    <span class="elementor-icon-list-text">LinkedIn</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="elementor-icon-list-item">
                                                                                <a href="#">
                                                                                    <span class="elementor-icon-list-text">Twitter</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-1ec67a76 elementor-section-content-middle ot-traditional elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1ec67a76" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-extended">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-eacb2a6 ot-flex-column-vertical" data-id="eacb2a6" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-206df372 elementor-widget elementor-widget-ilogo" data-id="206df372" data-element_type="widget" data-widget_type="ilogo.default">
                                            <div class="elementor-widget-container">

                                                <div class="the-logo">
                                                    <a href="#">
                                                        <img src="~/wp-content/themes/engitech/images/log.png" alt="Engitech"><noscript><img src="http://wpdemo.archiwp.com/engitech/wp-content/uploads/sites/4/2021/03/logo-9.svg" alt="Engitech"></noscript>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3f8edb95 ot-flex-column-vertical" data-id="3f8edb95" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-148218d2 elementor-widget elementor-widget-text-editor" data-id="148218d2" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix"><p>© 2021 One AI Team | Devops</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</footer></div>