<header id="site-header" class="site-header header-static">

    <!-- #header-desktop-open -->
    <div class="header-desktop">
        <div data-elementor-type="wp-post" data-elementor-id="3875" class="elementor elementor-3875" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-722610a5 elementor-section-full_width ot-traditional elementor-section-height-default elementor-section-height-default" data-id="722610a5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-extended">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-29c72306 ot-flex-column-vertical" data-id="29c72306" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-6db3a10 s2 elementor-widget elementor-widget-imenu" data-id="6db3a10" data-element_type="widget" data-widget_type="imenu.default">
                                                <div class="elementor-widget-container">
                                                    <nav id="site-navigation" class="main-navigation no-line no-under-line">
                                                        <ul id="primary-menu" class="menu">
                                                            <li id="menu-item-2315" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2315">
                                                                <a href="#">Home</a>
                                                            </li>
                                                            <li id="menu-item-2030" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2030">
                                                                <a href="#">Company <i class="fa fa-caret-down"></i></a>
                                                                <ul class="sub-menu">
                                                                    <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a asp-controller="Company" asp-action="AboutUs">About Us</a></li>
                                                                    <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a asp-controller="Company" asp-action="WhyChooseUs">Why Choose Us</a></li>
                                                                    <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a asp-controller="Company" asp-action="OurTeam">Our Team</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-2424" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2424">
                                                                <a href="#">Services <i class="fa fa-caret-down"></i></a>
                                                                <ul class="sub-menu">
                                                                    <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a asp-controller="Service" asp-action="ITServices">IT Service</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-2022" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2022">
                                                                <a href="#">Projects <i class="fa fa-caret-down"></i></a>
                                                                <ul class="sub-menu">
                                                                    <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a asp-controller="Project" asp-action="Portfolio">Portfolio</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-2014" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2014">
                                                                <a href="#">Get An App <i class="fa fa-caret-down"></i></a>
                                                                <ul class="sub-menu">
                                                                    <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a href="https://localhost:44304/Tenant/Register">Health Record System</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-2017" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2017"><a href="#">Contacts</a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-56c70604 ot-column-items-center ot-flex-column-vertical" data-id="56c70604" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-309fc4cf elementor-widget elementor-widget-ilogo" data-id="309fc4cf" data-element_type="widget" data-widget_type="ilogo.default">
                                                <div class="elementor-widget-container">

                                                    <div class="the-logo">
                                                        <a href="http://wpdemo.archiwp.com/engitech/">
                                                            <img src="~/wp-content/themes/engitech/images/log.png" alt="Engitech"><noscript><img src="http://wpdemo.archiwp.com/engitech/wp-content/uploads/sites/4/2021/03/logo-9.svg" alt="Engitech"></noscript>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-489158e0 ot-column-items-center ot-flex-column-horizontal" data-id="489158e0" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-2eb2c173 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="2eb2c173" data-element_type="widget" data-widget_type="icon-list.default">
                                                <div class="elementor-widget-container">
                                                    <ul class="elementor-icon-list-items">
                                                        <li class="elementor-icon-list-item">
                                                            <a href="#">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true" class="fa fa-phone"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">+2340987687587</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-4f47d66d elementor-widget elementor-widget-ibutton" data-id="4f47d66d" data-element_type="widget" data-widget_type="ibutton.default">
                                                <div class="elementor-widget-container">
                                                    <div class="ot-button">
                                                        <a href="#" class="octf-btn octf-btn-primary">Let’s Start</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>    <!-- #header-desktop-close -->
    <!-- #header-mobile-open -->
    <div class="header-mobile">
        <div data-elementor-type="wp-post" data-elementor-id="4847" class="elementor elementor-4847" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-ddf82b6 ot-traditional elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ddf82b6" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-extended">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a367370 ot-column-items-center" data-id="a367370" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-79998f7 elementor-widget elementor-widget-imenu_mobile" data-id="79998f7" data-element_type="widget" data-widget_type="imenu_mobile.default">
                                                <div class="elementor-widget-container">

                                                    <div class="octf-menu-mobile octf-cta-header">
                                                        <div id="mmenu-toggle" class="mmenu-toggle">
                                                            <button></button>
                                                        </div>
                                                        <div class="site-overlay mmenu-overlay"></div>
                                                        <div id="mmenu-wrapper" class="mmenu-wrapper on-left">
                                                            <div class="mmenu-inner">
                                                                <a class="mmenu-close" href="#"><i class="fa fa-caret-right"></i></a>
                                                                <div class="mobile-nav">
                                                                    <ul id="menu-main-menu" class="mobile_mainmenu none-style">
                                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-2315">
                                                                            <a href="#">Home</a>
                                                                        </li>
                                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2030">
                                                                            <a href="#">Company</a>
                                                                            <ul class="sub-menu">
                                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2276"><a asp-action="AboutUs" asp-controller="Company">About</a></li>
                                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a asp-controller="Company" asp-action="WhyChooseUs">Why Choose Us</a></li>
                                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a asp-controller="Company" asp-action="OurTeam">Our Team</a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2424">
                                                                            <a href="#">Services</a>
                                                                            <ul class="sub-menu">
                                                                                <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a asp-controller="Service" asp-action="ITServices">IT Service</a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2022">
                                                                            <a href="#">Projects</a>
                                                                            <ul class="sub-menu">
                                                                                <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a asp-controller="Project" asp-action="Portfolio">Portfolio</a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li id="menu-item-2014" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2014">
                                                                            <a href="#">Get An App <i class="fa fa-caret-down"></i></a>
                                                                            <ul class="sub-menu">
                                                                                <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a href="https://localhost:44304/Tenant/Register">Health Record System</a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2017"><a href="#">Contacts</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-733172b ot-flex-column-vertical" data-id="733172b" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-b86ca9f elementor-widget elementor-widget-ilogo" data-id="b86ca9f" data-element_type="widget" data-widget_type="ilogo.default">
                                                <div class="elementor-widget-container">

                                                    <div class="the-logo">
                                                        <a href="#">
                                                            <img src="~/wp-content/themes/engitech/images/log.png" alt="oneai"><noscript><img src="~/wp-content/themes/engitech/images/log.png" alt="oneai"></noscript>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-03ee9b0 ot-flex-column-horizontal ot-column-items-center elementor-hidden-phone" data-id="03ee9b0" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-1b04357 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="1b04357" data-element_type="widget" data-widget_type="icon-list.default">
                                                <div class="elementor-widget-container">
                                                    <ul class="elementor-icon-list-items">
                                                        <li class="elementor-icon-list-item">
                                                            <a href="#">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true" class="fa fa-phone"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">+2349098748727</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>    <!-- #header-mobile-close -->

</header>