<header id="site-header" class="site-header header-static">
    <!-- #header-desktop-open -->
    <div class="header-desktop">
        <div data-elementor-type="wp-post" data-elementor-id="2843" class="elementor elementor-2843" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-755e8132 elementor-section-full_width is-fixed ot-traditional elementor-section-height-default elementor-section-height-default" data-id="755e8132" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-extended">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-62c5fc44 ot-column-items-center ot-flex-column-vertical" data-id="62c5fc44" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-60d53692 elementor-widget elementor-widget-ilogo" data-id="60d53692" data-element_type="widget" data-widget_type="ilogo.default">
                                                <div class="elementor-widget-container">

                                                    <div class="the-logo">
                                                        <a href="#">
                                                            <img src="~/wp-content/themes/engitech/images/log.png" alt="OneAi"><noscript><img src="~/wp-content/themes/engitech/images/log.pn" alt="OneAi"></noscript>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-224525d5 ot-flex-column-vertical" data-id="224525d5" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-2ff5b4f4 elementor-widget elementor-widget-imenu" data-id="2ff5b4f4" data-element_type="widget" data-widget_type="imenu.default">
                                                <div class="elementor-widget-container">
                                                    <nav id="site-navigation" class="main-navigation ">
                                                        <ul id="primary-menu" class="menu">
                                                            <li id="menu-item-2315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home  menu-item-2315">
                                                                <a asp-action="Index" asp-controller="Home">Home</a>
                                                            </li>
                                                            <li id="menu-item-2030" class="menu-item menu-item-type-custom menu-item-object-custom   menu-item-2030">
                                                                <a href="#">Company</a>
                                                                <ul class="sub-menu">
                                                                    <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1579 current_page_item menu-item-2015"><a asp-controller="Company" asp-action="AboutUs" aria-current="page">About Us</a></li>
                                                                    <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1579"><a asp-controller="Company" asp-action="WhyChooseUs" aria-current="page">Why Choose Us</a></li>
                                                                    <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1579"><a asp-controller="Company" asp-action="OurTeam" aria-current="page">Our Team</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-2424" class="menu-item menu-item-type-post_type current-menu-ancestor current-menu-parent menu-item-object-page menu-item-2424">
                                                                <a href="#">Services</a>
                                                                <ul class="sub-menu">
                                                                    <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a asp-controller="Service" asp-action="ITServices">IT Service</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-2022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2022">
                                                                <a href="#">Projects <i class="fa fa-caret-down"></i></a>
                                                                <ul class="sub-menu">
                                                                    <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a asp-controller="Project" asp-action="Portfolio">Portfolio</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-2014" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2014">
                                                                <a href="#">Get An App <i class="fa fa-caret-down"></i></a>
                                                                <ul class="sub-menu">
                                                                    <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a href="https://localhost:44304/Tenant/Register">Health Record System</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-2017" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2017"><a href="#">Contacts</a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-2d3490c6 ot-column-items
video showcase-center ot-flex-column-horizontal" data-id="2d3490c6" data-element_type="column">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>    <!-- #header-desktop-close -->
    <!-- #header-mobile-open -->
    <div class="header-mobile">
        <div data-elementor-type="wp-post" data-elementor-id="2854" class="elementor elementor-2854" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-55212198 ot-traditional elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="55212198" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-extended">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4cdb5f0b ot-flex-column-vertical" data-id="4cdb5f0b" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-524c330e elementor-widget elementor-widget-ilogo" data-id="524c330e" data-element_type="widget" data-widget_type="ilogo.default">
                                                <div class="elementor-widget-container">
                                                    <div class="the-logo">
                                                        <a href="#">
                                                            <img src="~/wp-content/themes/engitech/images/log.png" alt="OneAi" ><noscript><img src="~/wp-content/themes/engitech/images/log.png" alt="OneAi"></noscript>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2df0dc0f ot-flex-column-horizontal" data-id="2df0dc0f" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-38196644 elementor-widget elementor-widget-imenu_mobile" data-id="38196644" data-element_type="widget" data-widget_type="imenu_mobile.default">
                                                <div class="elementor-widget-container">
                                                    <div class="octf-menu-mobile octf-cta-header">
                                                        <div id="mmenu-toggle" class="mmenu-toggle">
                                                            <button></button>
                                                        </div>
                                                        <div class="site-overlay mmenu-overlay"></div>
                                                        <div id="mmenu-wrapper" class="mmenu-wrapper on-right">
                                                            <div class="mmenu-inner">
                                                                <a class="mmenu-close" href="#"><i class="fa fa-caret-right"></i></a>
                                                                <div class="mobile-nav">
                                                                    <ul id="menu-main-menu" class="mobile_mainmenu none-style">
                                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-2315">
                                                                            <a href="#">Home</a>
                                                                            <ul class="sub-menu">
                                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-2702"><a asp-action="Index" asp-controller="Home">Home Page</a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-2030">
                                                                            <a href="#">Company</a>
                                                                            <ul class="sub-menu">
                                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1579 current_page_item menu-item-2015"><a asp-action="AboutUs" asp-controller="Company" aria-current="page">About Us</a></li>
                                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1579 menu-item-2015"><a asp-action="WhyChooseUs" asp-controller="Company" aria-current="page">Why Choose Us</a></li>
                                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1579 menu-item-2015"><a asp-action="OurTeam" asp-controller="Company" aria-current="page">Our Team</a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2424">
                                                                            <a href="#">Services</a>
                                                                            <ul class="sub-menu">
                                                                                <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a asp-controller="Service" asp-action="ITServices">IT Service</a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2022">
                                                                            <a href="#">Projects</a>
                                                                            <ul class="sub-menu">
                                                                                <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a asp-controller="Project" asp-action="Portfolio">Portfolio</a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li id="menu-item-2014" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2014">
                                                                            <a href="#">Get An App <i class="fa fa-caret-down"></i></a>
                                                                            <ul class="sub-menu">
                                                                                <li id="menu-item-2015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2015"><a href="https://localhost:44304/Tenant/Register">Health Record System</a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2017"><a href="#">Contacts</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>    <!-- #header-mobile-close -->
</header>